.tab-button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.tab-content {
  display: none;
  padding: 20px;
  border-top: 1px solid #ccc;
}
.tab-content.active {
  display: block;
}

.tab-button.active {
  background-color: #ffffff;
  border-bottom: 2px solid #2196f3;
}
